.container-html table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.container-html table td,
.container-html table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.container-html {
  width: 80%;
  margin: auto;
}
.container-html table tr th {
  background: green;
  color: #fff;
}
.container-html .input-dates input,
.container-html .search-right input {
  border: 1px solid #000;
  padding: 8px 10px;
  border-radius: 2px;
  margin-right: 10px;
}
.container-html .search-right .search-input {
  float: right;
}
.container-html .input-dates input[type="text"] {
  float: left;
}
.container-html table {
  margin-top: 30px;
  display: inline-table;
}
.campaign-table {
  margin-top: 80px;
}
